BasedOnStyle: Google
IndentWidth: 2
ColumnLimit: 120
AllowShortFunctionsOnASingleLine: Inline
SortIncludes: true
IncludeBlocks: Merge
DerivePointerAlignment: false
PointerAlignment: Left
SpaceBeforeParens: ControlStatements
BreakBeforeBraces: Allman  # Or 'Attach' if you prefer brace on same line
